/* in intro-scene.css */
.tv-screen-effect.noise::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url('/tv_noise.png');
    background-repeat: repeat;
    animation: tv-noise-animation 0.2s steps(3, end) infinite;
    opacity: 0.7;
}

@keyframes tv-noise-animation {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%); }
    30% { transform: translate(7%, -12%); }
    40% { transform: translate(-5%, 15%); }
    50% { transform: translate(-10%, 5%); }
    60% { transform: translate(15%, 0); }
    70% { transform: translate(0, 10%); }
    80% { transform: translate(-15%, 0); }
    90% { transform: translate(10%, 5%); }
    100% { transform: translate(5%, 0); }
}

#intro-scene-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    cursor: grab;
}

#intro-scene-container.dragging {
    cursor: grabbing;
}

.tv-screen-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Above the black screen, below the game content */
    display: none; /* Hidden by default */
    pointer-events: none;
    overflow: hidden;
}